/*Sponsors List*/

.sponsorstitle {
    font-size: 20px;
    position: relative;
    font-weight: lighter;
    margin-top: 40px;
    text-align: center;
    width: 100%;
    left: 0px;
    font-family: 'Open Sans', Helvetica, sans-serif;
  }
  
  .sponsorstitle h1 {
    color:black;
    font-weight: lighter;
    font-family: 'Open Sans', Helvetica, sans-serif;
  }
  
  .sponsors {
    position: relative;
    text-align: center;
  }
  
  .sponsors ul {
    list-style: none;
    margin: auto;
    padding: 10px;
  }
  
  .sponsors ul li {
    display: inline-block;
    padding: 20px;
  }
  
  #box1 {
    width: 125px;
    height: 125px;
    background: url(../img/ctct.PNG);
    background-size: cover;
    overflow: hidden;
    margin: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
  }
  
  #box2 {
    width: 125px;
    height: 125px;
    background: url(../img/lime.PNG);
    background-color: white;
    background-size: 125px 125px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
  }
  
  #box3 {
    width: 125px;
    height: 125px;
    background: url(../img/osu.PNG);
    background-size: cover;
    overflow: hidden;
    margin: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
  }
  
  #box4 {
    width: 125px;
    height: 125px;
    background: url(../img/benton.PNG);
    background-color: white;
    background-size: 125px 75px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 5px;
    background-position: 0px 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
  }
  
  
  #overlay {
    background: rgba(0, 0, 0, .75);
    text-align: center;
    padding: 60px 0 60px 0;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
  }
  
  .sponsors a {
    text-decoration: none;
  }
  
  #name {
    font-weight: lighter;
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: rgba(255, 255, 255, .85);
    font-size: 10px;
  }
  
  #box1:hover #overlay,
  #box2:hover #overlay,
  #box3:hover #overlay,
  #box4:hover #overlay,
  #box5:hover #overlay,
  #box6:hover #overlay,
  #box7:hover #overlay {
    opacity: 1;
  }